page-alarm-list {
    .toolbar-title.toolbar-title-md{
        color: #eef435;
    }
    .row-cls{
        width:101%;
        border-bottom: 1px solid #eae5e5;
        height: 12%;
        margin-left: -4px;
    }
    .hours-cls{
        font-size: xx-large;
        font-weight: 200;
        color: #ea00c3;
        font-family: "Risque", sans-serif;
    }
    .minutes-cls{
        font-size: xx-large;
        font-weight: 200;
        margin-top:12px;
    }
    @media screen and (min-height : 360px) and (max-height : 375px) {
        .days-cls{
            font-size: xx-large;
            position: absolute;
            right: 18%;
            font-weight: 200;
            color: #ea00c3;
            font-family: "Risque", sans-serif;

        }
    }
    @media screen and (min-height : 376px) and (max-height : 640px) {
        .days-cls{
            font-size: xx-large;
            position: absolute;
            right: 18%;
            font-weight: 200;
            color: #ea00c3;
            font-family: "Risque", sans-serif;

        }
    }
    @media screen and (min-height : 824px) and (max-height : 1024px) {
        .days-cls{
            font-size: xx-large;
            position: absolute;
            right: 10%;
            color: #ea00c3;
            font-weight: 200;
            font-family: "Risque", sans-serif;
        }
    }
    @media screen and (min-height : 800px) and (max-height : 824px) {
        .days-cls{
            font-size: xx-large;
            position: absolute;
            right: 14%;
            color: #ea00c3;
            font-weight: 200;
            font-family: "Risque", sans-serif;
        }
    }
    @media screen and (min-height : 641px) and (max-height: 767px) {
        .days-cls{
            font-size: xx-large;
            position: absolute;
            right: 16%;
            font-weight: 200;
            color: #ea00c3;
            font-family: "Risque", sans-serif;

        }
    }
    @media screen and (min-height : 1025px) {
        .days-cls{
            font-size: xx-large;
            position: absolute;
            right: 6%;
            font-weight: 200;
            color: #ea00c3;
            font-family: "Risque", sans-serif;

        }
    }
    .toggle-cls{
        position: absolute;
        right: 0%;
    }
    .toggle-md.toggle-checked .toggle-icon{
        background-color: #e696d8;
    }
}
