<!--
  Generated template for the AlarmListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="border: 2px solid #eef435;">

  <ion-navbar color="dark">
    <ion-title style="text-align:center;">Alarm List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="background:black;border: 2px solid #eef435;">
  <ion-row *ngFor="let getAllAlarmList of getAllAlarmListArr; let i = index; "  class="row-cls" style="border-bottom: 2px solid #000000;">
      <div class="hours-cls">
       <div *ngIf="getAllAlarmList.hours == 0" style="float:left;">0</div><div style="float:left;">{{getAllAlarmList.hours}}:</div><div *ngIf="getAllAlarmList.minutes == 0" style="float:left;">0</div><div style="float:left;">{{getAllAlarmList.minutes}}</div>
      </div>
      <div class="days-cls">
        {{getAllAlarmList.days}}
      </div>
      <div class="toggle-cls">
        <ion-toggle color="toggleColor"  [(ngModel)]="getAllAlarmList.toggle" (ngModelChange)="trackChange($event,i)"></ion-toggle>
        
      </div>
  </ion-row>
</ion-content>
