page-tabs {
    .tabbar.show-tabbar{
        border:2px solid #eef435;
    }
    .tab-button.has-title.has-title-only{
        color: #eef435;
        border:1px solid #eef435;
    }
    .tabs-md-dark .tab-button:hover:not(.disable-hover), .tabs-md-dark .tab-button[aria-selected=true], .tabs-md-dark .tab-button[aria-selected=true] .tab-button-icon{
        color: #eef435;
    }
    
}
