page-popup {
    .time-cls{
        font-size: -webkit-xxx-large;
        font-weight: 500;
        color: #ea00c3;
        font-family: "Risque", sans-serif;
    }
    .wrapper-div-cls{
        text-align: -webkit-center;
    }
    .toolbar-background-md{
        background-color: black;
        border: 2px solid #eef435;
    }
    .toolbar-title-md{
        color:#eef435;
    }
    @media screen and (min-height : 768px) and (max-height : 1024px) {
        .content-cls{
            height: 38%;
            top:30% !important;
        }
    }
    @media screen and (min-height : 360px) and (max-height : 410px) {
        .content-cls{
            height: 50%;
        }
    }
    @media screen and (min-height : 411px) and (max-height : 767px) {
        .content-cls{
            height: 50%;
        }
    }
    @media screen and (min-height : 1024px) {
        .content-cls{
            height: 50%;
        }
    }
}
