<!--
  Generated template for the PopupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="position:absolute;top:25%;">

  <ion-navbar>
    <ion-title style="text-align:center;">Alarm</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content-cls" padding style="background-color:black;border: 2px solid #eef435;position:absolute;top:25%;">
  <div class="wrapper-div-cls">
    <div class="time-cls">
      <div *ngIf="alarmDataFullObject.hour == 0" style="float:left;">0</div><div style="float:left;">{{alarmDataFullObject.hour}}:</div><div *ngIf="alarmDataFullObject.minute == 0" style="float:left;">0</div><div style="float:left;">{{alarmDataFullObject.minute}}</div>
    </div>
  </div>
  <button ion-button full (click)='dismiss();' style="color:#ea00c3;background-color:#eef435;top:20%;">Dismiss</button>
</ion-content>
