page-home {
    .toolbar-title.toolbar-title-md{
        color: #eef435;
    }
    .tabbar.show-tabbar{
        background-color: black;
    }
    .tab-button.has-title.has-title-only.disable-hover{
        color:#eef435;
    }
    .select-md .select-icon .select-icon-inner{
        color: #ea00c3;
    }
    .item-select .label-md{
        color: #ea00c3;
    }
    .item-md.item-block .item-inner{
        border-bottom:1px solid #eef435;
    }
}
