<ion-header style="border:2px solid #eef435;">
  <ion-navbar color="dark">
    <ion-title style="text-align:center;">
      Add Alarm
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color:black; border:2px solid #eef435;">
  <ion-item style="background-color:black;color:#ea00c3;">
    <ion-label>Hours</ion-label>
    <ion-select [(ngModel)]="hours" (ngModelChange)="hoursChange($event)" required>
      <ion-option value="01">01</ion-option>
      <ion-option value="02">02</ion-option>
      <ion-option value="03">03</ion-option>
      <ion-option value="04">04</ion-option>
      <ion-option value="05">05</ion-option>
      <ion-option value="06">06</ion-option>
      <ion-option value="07">07</ion-option>
      <ion-option value="08">08</ion-option>
      <ion-option value="09">09</ion-option>
      <ion-option value="10">10</ion-option>
      <ion-option value="11">11</ion-option>
      <ion-option value="12">12</ion-option>
      <ion-option value="13">13</ion-option>
      <ion-option value="14">14</ion-option>
      <ion-option value="15">15</ion-option>
      <ion-option value="16">16</ion-option>
      <ion-option value="17">17</ion-option>
      <ion-option value="18">18</ion-option>
      <ion-option value="19">19</ion-option>
      <ion-option value="20">20</ion-option>
      <ion-option value="21">21</ion-option>
      <ion-option value="22">22</ion-option>
      <ion-option value="23">23</ion-option>
      <ion-option value="0">00</ion-option>
    </ion-select>
  </ion-item>
  <ion-item style="background-color:black;color:#ea00c3;">
      <ion-label>Minutes</ion-label>
      <ion-select [(ngModel)]="minutes" (ngModelChange)="minutesChange($event)">
          <ion-option value="01">01</ion-option>
          <ion-option value="02">02</ion-option>
          <ion-option value="03">03</ion-option>
          <ion-option value="04">04</ion-option>
          <ion-option value="05">05</ion-option>
          <ion-option value="06">06</ion-option>
          <ion-option value="07">07</ion-option>
          <ion-option value="08">08</ion-option>
          <ion-option value="09">09</ion-option>
          <ion-option value="10">10</ion-option>
          <ion-option value="11">11</ion-option>
          <ion-option value="12">12</ion-option>
          <ion-option value="13">13</ion-option>
          <ion-option value="14">14</ion-option>
          <ion-option value="15">15</ion-option>
          <ion-option value="16">16</ion-option>
          <ion-option value="17">17</ion-option>
          <ion-option value="18">18</ion-option>
          <ion-option value="19">19</ion-option>
          <ion-option value="20">20</ion-option>
          <ion-option value="21">21</ion-option>
          <ion-option value="22">22</ion-option>
          <ion-option value="23">23</ion-option>
          <ion-option value="24">24</ion-option>
          <ion-option value="25">25</ion-option>
          <ion-option value="26">26</ion-option>
          <ion-option value="27">27</ion-option>
          <ion-option value="28">28</ion-option>
          <ion-option value="29">29</ion-option>
          <ion-option value="30">30</ion-option>
          <ion-option value="31">31</ion-option>
          <ion-option value="32">32</ion-option>
          <ion-option value="33">33</ion-option>
          <ion-option value="34">34</ion-option>
          <ion-option value="35">35</ion-option>
          <ion-option value="36">36</ion-option>
          <ion-option value="37">37</ion-option>
          <ion-option value="38">38</ion-option>
          <ion-option value="39">39</ion-option>
          <ion-option value="40">40</ion-option>
          <ion-option value="41">41</ion-option>
          <ion-option value="42">42</ion-option>
          <ion-option value="43">43</ion-option>
          <ion-option value="44">44</ion-option>
          <ion-option value="45">45</ion-option>
          <ion-option value="46">46</ion-option>
          <ion-option value="47">47</ion-option>
          <ion-option value="48">48</ion-option>
          <ion-option value="49">49</ion-option>
          <ion-option value="50">50</ion-option>
          <ion-option value="51">51</ion-option>
          <ion-option value="52">52</ion-option>
          <ion-option value="53">53</ion-option>
          <ion-option value="54">54</ion-option>
          <ion-option value="55">55</ion-option>
          <ion-option value="56">56</ion-option>
          <ion-option value="57">57</ion-option>
          <ion-option value="58">58</ion-option>
          <ion-option value="59">59</ion-option>
          <ion-option value="0">00</ion-option>
      </ion-select>
    </ion-item>
    <ion-item style="background-color:black;color:#ea00c3;">
        <ion-label>Days</ion-label>
        <ion-select [(ngModel)]="days" (ngModelChange)="daysChange($event)">
          <ion-option value="mon">Monday</ion-option>
          <ion-option value="tue">Tuesday</ion-option>
          <ion-option value="wed">Wednesday</ion-option>
          <ion-option value="thu">Thursday</ion-option>
          <ion-option value="fri">Friday</ion-option>
          <ion-option value="sat">Saturday</ion-option>
          <ion-option value="sun">Sunday</ion-option>
        </ion-select>
      </ion-item>
      <ion-item style="background-color:black;color:#ea00c3;">
          <ion-label>Track</ion-label>
          <ion-select [(ngModel)]="tracks" (ngModelChange)="trackChange($event)">
            <ion-option value="track1.mp3">Hey Fucking Santa Clause Where's My Fucking Bike</ion-option>
            <ion-option value="track2.mp3">I Love My Women Like I Like My Chicken</ion-option>
            <ion-option value="track3.mp3">Who Ate All The Pies</ion-option>
          </ion-select>
        </ion-item>
          <button ion-button full (click)='addAlarm();' style="top:15%;color:#ea00c3;background-color:#eef435;">+ Create Alarm</button>
</ion-content>
