// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-alert .alert-head{
    color:#eef435;
    background: black;
    
}
ion-alert .alert-radio-group{
    background: black;
    
}
ion-alert .alert-radio-icon{
    border-color: #eef435 !important;
}
ion-alert .alert-button-group{
    background: black;
    
}
ion-alert .alert-radio-label{
    color: #ea00c3 !important;
}
ion-alert .alert-radio-inner{
    background: #ea00c3 !important;
}
ion-alert .alert-button{
    color: #eef435 !important;
}